#game{
  width: 100dvw;
  height: 100dvh;
  display: grid;
  grid-template-columns: 1fr 26rem;

  #screen { 
    background: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapercave.com%2Fwp%2Fwp2754862.jpg&f=1&nofb=1&ipt=32555d55970907a6bb1f448a98ddaed7e5b565eea75012d69e8ec1f19c06eb27'); 
    background-position: center;
    background-size: cover;
  }
  
  #panel { 
    background: #d6e4f8; 
    box-shadow: 0 0 6px #1a1a28;
    display: grid; 
    grid-template-rows: 12rem 2rem calc(100dvh - 19rem) 4rem; 
    padding: 1rem;

    #stats {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 1px solid black;
      margin: 8px;
      border-radius: 4px;
      background-color: white;

      h1 { 
        font-size: 2.75rem;
        margin-block: 8px -8px;
      }
      .cps {
        font-family: var(--font-sans);
        font-weight: 600;
      }
    }

    #upgradeSwitch {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    #upgrades {
      overflow-x: hidden;
      display: flex;

      > div {
        display: none;
        width: 100%;
        flex-direction: column;
        align-items: stretch;
        gap: 2px;
        &.selected {
          display: flex;
        }
      }
    }
  }
}

#mainClicker {
  margin-top: 12px;
  user-select: none;
  cursor: pointer;
  padding: 4px 12px;
  transition: transform 50ms ease-out;
  &:active {
    transform: scale(0.9);
    transition: transform 100ms ease-out;
  }
}

.click-feedback{
  position: fixed;
  padding: 3px 6px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid gray;
  font-size: 0.75rem;

  &.going-right { animation: click-feedback-right 800ms ease-in forwards; }
  &.going-left { animation: click-feedback-left 800ms ease-in forwards; }
}

@keyframes click-feedback-right {
  to { transform: translate(30px, -200px); opacity: 0; }
}
@keyframes click-feedback-left {
  to { transform: translate(-30px, -200px); opacity: 0; }
}