button.upgrade{
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #a8ddff;
  position: relative;
  padding: 8px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 4px;

  &:hover{
    background-color: #6fc3f8;
  }

  img{
    background: black;
    width: 42px;
    height: 42px;
  }
  
  > div {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  p.upgradeName{
    text-align: start;
  }

  p.upgradePrice{
    text-align: start;
    font-weight: 600;
    font-size: 0.9rem;
  }

  span{
    display: block;
    position: absolute;
    top: 4px;
    right: 0;
    width: 3rem;
    height: 2rem;
    background-color: #e6f5ff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    border-radius: 2px 0 0 2px;
  }

  &.not-affordable{
    background-color: #dcdcdc;
    cursor: default;

    img{ filter: grayscale(1); }
    p.upgradePrice{ 
      color: #d41010;
      font-weight: 500;
    }
    span { background-color: #f5f5f5 ; }
  }

  &.hidden{
    display: none;
  }
}