body{
  margin: 0;
  overflow: hidden;
}

#game{
  width: 100dvw;
  height: 100dvh;
  display: grid;
  grid-template-columns: 1fr 28rem;

  #screen { 
    background: lightgreen; 
  }
  
  #panel { 
    background: orange; 
    display: grid; 
    grid-template-rows: 15rem calc(100dvh - 19rem) 4rem; 
    
    #stats {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    #upgrades {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      gap: 8px;
      overflow-y: scroll;
    }
  }
}